* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-weight: 300, 500;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Separar el botón del header */
.volver {
    margin-top: 105px;
}

.navbar {
    flex-wrap: inherit;
    font-weight: 200;
    background-color: black;
}



/* BG */
.background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.background-image h2,
.background-image p,
.background-image .links {
    position: absolute;
    color: white;
    text-align: center;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.background-image h2 {
    top: 30%;
    font-size: 2rem;
}

.background-image .links {
    top: 45%;
}

.background-image .links a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgba(99, 63, 158, 0.6);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.background-image .links a:hover {
    background: rgba(40, 17, 71, 0.3);
    color: rgb(128, 109, 206);
}

.background-image p {
    top: 80%;
    font-size: 1.2rem;
    max-width: 100%;
}


.lead {
    font-size: 1.25rem;
    font-weight: 300;
}


@media (max-width: 768px) {
    .background-image h2 {
        top: 20%; 
        font-size: 1.5rem;
    }

    .background-image .links {
        top: 35%; 
    }

    .background-image .links a {
        margin: 8px; 
        padding: 8px 12px; 
        font-size: 0.9rem;
    }
}



/* GALLERY */
.gallery {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 75px;
}

.photo {
    box-sizing: border-box;
    padding: 10px;
}

.photo img {
    width: 100%;
    display: block;
}

@media (max-width: 576px) {
    .photo {
        width: 100%;
        /* 12/12 columnas */
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .photo {
        width: 50%;
        /* 6/12 columnas */
    }
}

@media (min-width: 992px) {
    .photo {
        width: 33.33%;
        /* 4/12 columnas */
    }
}



/* FOOTER */
footer {
    margin-top: auto;
    background-color: black;
    position: relative;
    width: 100%;
    height: 60px;
}

.social-media i {
    color: rgb(128, 109, 206);
    background-color: black;
    margin: 5px;
}

p.fot {
    font-size: 16px;
    color: rgb(128, 109, 206);
    background-color: black;
    padding-top: 5px;
    padding-bottom: 10px;
}



/* GAMES */
.games {
    width: 100%;
    padding: 0 10px;
}

.games h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #4b1070;
    text-align: center;
}

.game-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.game-img {
    flex: 1; 
}

.game-img img {
    width: 100%;
    max-width: 300;
    height: auto;
    border: 1px solid #000000;
    border-radius: 8px;
}

.game-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titlegame {
    display: inline-block;
    padding: 10px 20px;
    background-color: #815094;
    border: 1px solid #b8aeb5;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    white-space: normal;
    text-align: center;
    margin: 0 auto;
}

.ver-trailer-btn {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 6px 12px;
    margin-top: 0.3rem;
    text-align: center;
    margin: 0 auto;
}

.game-info h5 {
    margin-top: 1rem;
    color: #000;
}

.game-description {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;
    color: #444;
}

.input-group {
    justify-content: flex-end; 
    gap: 8px;
    margin-top: 1rem;
}

.input-group input {
    width: 40px; 
    padding: 2px 4px;
    font-size: 0.9rem;
}

.input-group button {
    padding: 6px 12px;
    font-size: 0.9rem;
}

.i-games {
    font-size: 2rem;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: flex-end;
}


@media (max-width: 768px) {
    .game-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .game-info {
        padding-top: 1rem;
        align-items: center;
    }

    .input-group {
        justify-content: center;
        flex-wrap: wrap;
    }

    .input-group input {
        width: 60px;
        margin-bottom: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .game-img img {
        max-width: 250px;
    }

    .titlegame {
        font-size: 0.95rem;
    }

    .game-description {
        font-size: 0.95rem;
    }
}


@media (min-width: 1025px) {
    .game-img img {
        max-width: 300px;
    }

    .game-description {
        font-size: 1rem;
    }
}



/* FORMULARIO */
.registro-page {
    margin: 0;
    padding: 0;
}

h2 {
    color: rgb(80, 23, 80);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
}

.d-flex {
    display: flex;
    width: 100%;
}

.contenedor-boton {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.btn-registro {
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    background-color: #4b1070;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}



/* CARRITO */
.remove-item {
    background: none;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
}



/* BOTONES */
#checkout-btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 12px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#checkout-btn:hover {
    background-color: black;
    color: white;
}

form input {
    width: 100%;
    padding: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-edit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.btn-edit button {
    background-color: #d8b7d5;
    color: rgb(45, 28, 71);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    width: auto;
    height: auto;
    max-width: 100px;
    text-align: center;
}

.btn-reestablecer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.btn-reestablecer button {
    background-color: transparent;
    color: rgb(71, 22, 145);
    padding: 0.4rem 1rem;
    width: auto;
    height: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    border: 2px solid rgb(153, 52, 167);
    border-radius: 5px;
    cursor: pointer;
}

.btn-pass-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.btn-pass-confirm button {
    color: rgb(255, 255, 255);
    padding: 0.4rem 1rem;
    width: auto;
    height: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    background-color: rgb(160, 51, 160);
    border: none;
    cursor: pointer;
}



/* NEWS */ 
.content-with-news {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    padding: 35px;
    background-color: hsl(0, 0%, 95%);
}

.news-column {
    flex: 1 0 300px; /* Ocupa al menos 300px de ancho y crece/se encoge */
    margin-right: 40px; 
    text-align: center;
}

.new-container {
    align-items: center;
    text-align: center;
    margin-right: 40px; 
}

/* Estilos adicionales para las noticias */
.news-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.news-item:last-child {
    border-bottom: none;
}

.news-item h3 a {
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
}

.news-item h3 a:hover {
    text-decoration: underline;
}

.news-item small {
    color: #777;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}